
.main_container{
    width: 400px;
    height: 580px;
    display: flex;
    flex-direction: column;
    align-items: start;
    overflow: auto;
}

.flex-col{
    display: flex;
    flex-direction: column;
    align-items: start;
}

.flex-row{
    display: flex;
    flex-direction: row;
    justify-content: stretch;

}

.align-slf-end{
    align-self: flex-end;
}

.mg-10{
    /* margin-top: 10px; */
    margin-bottom: 20px;
}

.mg-t-10{
    margin-top: 10px;
    /* margin-bottom: 20px; */
}

.ml-20{
    margin-left: 20px;
}

textarea {
    width: 300px;
    height: 200px;
  }